body{
    padding: 0px;
    margin:0px;
    border: 10px solid;
    border-color: white green white orange;
 }
 .text{
    display:flex;
    justify-content: center;
    gap: 10px; 
    font: 35px bolder;
    
 }
 .happy
 {
    background-color: orange;
 }
 .ind{
    background-color: white;
 }
 .day{
    background-color: green;
 }
 .sky{
    background-image: url("./sky.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
 }
 .road{
    background-image: url("./road.jpg");
    width: 500%;
    height: 200px;
    position: absolute;
    bottom: 0px;
    z-index: 3;
    animation: road  5s infinite linear;
 }
@keyframes road{
 100% { transform: translateX(-1500px); */
} 
100%{
    transform: translate(-1500px 1px);
}    
}

 .city{
background-image: url("./city\ \(1\).png");
width:500%;
height: 250px;
position:absolute;
top:120px;
z-index: 2;
animation: city 5s infinite normal linear;

 }
 @keyframes city{
    100%{
        transform: translateX(-200px);
    }
 }
 .sun{
    z-index: 3;
    background-image: url("./sun.jpg");
    position: absolute;
    top:50px;
    right: 7px;
    animation: sun 7s infinite normal linear;
 }
 @keyframes sun{
100%{
    transform: translateX(-200px);
}
 }
.car{
    position:absolute;
     top:295px;
     left: 37%;
    z-index: 4;
    animation:carup 2s infinite normal ; 
}
@keyframes carup{
     0%{
        transform: translateY(1px);
    }
    50%{
        transform: translateY(-3px);
    }
    100%{
        transform: translateY(1px);
    }  
}

.flag{
    z-index: 3;
    width: 100px;
    height: 100px;
    position:absolute;
    top: 270px;
    right: 33%;
}

    .wheel1{
        background-image: url(./wheel.png);
        background-position: center;
        background-size: contain;
        position: absolute;
        height: 75px;
        width: 75px;
        z-index: 4;
        top: 68%;
        left: 39.8%;
        animation: wheel1 3s infinite linear;
    }
    
    @keyframes wheel1{
        100%{
            transform: rotate(360deg);
        }
    }
    
    
    .wheel2{
        background-image: url(./wheel.png);
        background-position: center;
        background-size: contain;
        position: absolute;
        height: 75px;
        width: 75px;
        z-index: 4;
        top: 68%;
        left: 60%;
        animation: wheel1 3s infinite linear;
    
    }
  

